:root {
    --main-color: #1e202b;
    --blue-color: #009AD8;
    --gray-color: #BFC1C8;

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

#home-section {
    background-color: var(--main-color);
}

.navbar-brand h1 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: -2px;
}
.navbar-brand small {
    color: #BFC1C8;
    font-size: 10px;
}
.nav-link.active {
    color: var(--blue-color) !important;
    border: 2px solid var(--blue-color);
    border-radius: 20px !important;
    padding: 5px 25px;
}
.nav-link {
    color: #fff;
    transition: all .3s ease;
    border: 2px solid transparent;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active

{
    color: var(--blue-color) !important;
    border: 2px solid var(--blue-color);
    border-radius: 20px !important;
    padding: 5px 25px;
}
#search-input,#subscribe {
    background: #1e202b;
    color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 20px 50px 20px 20px;
}
.form-control:focus {
outline: none;
box-shadow: none;
}
#search-input {
    color: var(--gray-color);
}
#find-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 10px 40px;
    border-radius: 30px;
    background: #009ad8;
    color: #fff;
}

.first-section {
    background-image: url(../imgs/banner.png);
    background-size: cover;
    min-height: 350px;
}
#forecast-info {
    margin-top: -150px;
}
/* Today Forecast */
.today-header {
    background-color: #2D303D;
    
}
.today-header div {
    color: var(--gray-color);
    font-size: 14px;
}
.today-content {
    background-color: #323544;
}
.today-content h3 {
    font-size: 18px;
    color: var(--gray-color);
}
.temp {
    color: #fff;
    font-weight: 700;
    font-size: 90px;
}
.description {
    color: var(--blue-color);
    font-size: 14px;
}
.rain,.wind,.wind-dir {
    color: var(--gray-color);
}
.rain i, .wind i, .wind-dir i {
    color: var(--gray-color);
}
/* Next Day Forecast */
#next-day-forecast{
    min-height: 100%;
    background-color: #262936;
}
.next-day-header {
    background-color: #222530;
    
}

.next-day-header div {
    color: var(--gray-color);
}

.next-today-content h3 {
    font-size: 18px;
    color: var(--gray-color);
}
.next-today-content .temp {
    font-size: 24px;
}

.next-today-content small {
    color: var(--gray-color);
} 
/* Third Day Forecast */

.third-day-header {
    background-color: #2D303D;

}
.third-day-header div {
    color: var(--gray-color);
}
#third-day-forecast {
    min-height: 100%;
    background-color: #323544;

}
.third-today-content h3 {
    font-size: 18px;
    color: var(--gray-color);
}
.third-today-content .temp {
    font-size: 24px;
}

.third-today-content small {
    color: var(--gray-color);
} 




/*  Footer */



#footer {
    background-color: #262936;
    padding-top: 2rem;
}
.form-control::placeholder {
    color: #bfc1c8;
}
#subscribe-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #009ad8;
    color: #fff
}
.list-unstyled {
    padding-top: 20px;
}


.list-unstyled li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.list-unstyled li i {
    color: #009ad8;
 }
 .list-unstyled li:hover {
    background-color: #009ad8;
 }
 .list-unstyled li:hover i {
    color: #fff;
 }

 #Copyright {
    color: var(--gray-color);
 }

